html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  background-color: #383A3B;
  width: 100%;
  height: 125px;
  margin: 0;
  padding: 0;

}

.mainContent {
  height: 600px;
  width: auto;
  margin: 0;
  padding: 0;
  display:inline-block;

}

footer {
  height: 87px;
  width: 1000px;
  margin: 0 auto;
  background-color: black;

}

.left-bar {
  height: 100%;
  width: 100px;
  background-color: #d3d3d3;
  float:left;

}

.right-bar {
  height: 100%;
  width: 100px;
  background-color: #d3d3d3;
  float: right;

}
